.table-container {
    width: 100%;
    margin-top: 1rem;
    max-height: 500px; /* define altura máxima da tabela */
    overflow-y: auto; /* scroll só no corpo */
}

.table-container table {
    margin-bottom: 0; /* evita espaço extra antes da paginação */
}

.table-container thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #212529;
    color: white;
}

.dropdown-menu-auto {
    min-width: 0 !important; /* remove min-width padrão */
    width: auto !important; /* largura do conteúdo */
    white-space: nowrap; /* sem quebra de linha */
    position: absolute; /* garante que saia da célula */
    background-color: rgb(203, 216, 228);
}

td {
    width: auto;
}
