html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f8f9fa;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* garante altura mínima do viewport */
}

.card {
    flex: 0 0 auto;
    width: auto; /* deixa o card ter largura natural */
    max-width: 420px; /* nunca ultrapassa 420px */
    min-width: 400px;
    padding: 1.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;

    max-height: 90vh; /* limita altura */
    min-height: 200px; /* altura mínima */
    overflow: auto; /* scroll interno se necessário */
}

.card-body {
    padding: 0;
    /* reduz espaço interno */
}

body > .card {
    width: auto;
    max-width: 420px;
}

h5.card-title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.form-label {
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
}

.form-control {
    padding: 0.4rem 0.75rem;
    font-size: 0.95rem;
}

button.btn {
    padding: 0.45rem;
    font-size: 0.95rem;
}

#mensagemSupervisor,
#mensagemRedefinicao {
    font-size: 0.85rem;
    margin-top: 0.75rem;
}
