.form-section-title,
.card-header {
    background-color: #078dfb;
    /* azul claro consistente */
}

.card {
    background: #e3f2fd;
}
.btn-custom {
    margin: 0 10px;
}
.form-control[readonly] {
    background-color: #e9ecef;
}
