.table-container {
    width: 100%;
    margin-top: 1rem;
    max-height: 500px; /* define altura máxima da tabela */
    overflow-y: auto; /* scroll só no corpo */
}

.table-container table {
    margin-bottom: 0; /* evita espaço extra antes da paginação */
}

.table-container thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #212529;
    color: white;
}
